
body {
    background-color: #020d18;  
    color: #ffffff;                
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}
header {
    background-color: #002147;
    color: #f4d03f;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 15px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 25px;
}

nav a {
    color: #f4d03f;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
}

nav a:hover {
    color: #ff5733;
    text-decoration: underline;
}

main {
    flex: 1; 
    padding: 20px;
    max-width: 900px;
    margin: auto;
    line-height: 1.6; 
}

h2 {
    color: #f4d03f;
    margin-top: 20px;
}

table {
  width: 60%;
  margin: 20px;
  border-collapse: collapse;
  text-align: left;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
}

th {
  background-color: #333;
  color: #fff;
}
td{
    background-color:rgb(227, 148, 44)
}
.contentImage {
    display: block;
    margin: 20px auto; 
}

footer {
    background-color: #002147;
    color: #f4d03f;
    text-align: center;
    padding: 15px;
    margin-top: auto;
    font-size: 0.9em;
}
#introSection {
    padding: 20px;
    border-left: 6px solid #f4d03f;
    margin-bottom: 20px;
}

